<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            background-color:#c8a2c8;}
        .form{
            text-align: center;
            margin-top: 200px;
            margin-bottom: 200px;
            font-size: 25px;
            color: blanchedalmond;
        }
        #button{
            background-color: #9400D3;
	        color: honeydew;
            cursor: pointer;
	        width: 25%;
	        padding: 14px 20px;
	        margin: 8px 0;
	       border: none;
	       border-radius: 4px;
        }
       
    </style>
</head>
<body >
    <form class ='form' action="/search" method ='post'>
        
        <input type='text' value='jayesh bisen' name="findname" required><br><br>
        <input type='submit' value = "search" id ='button'>
    </form>
</body>
</html>